<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-button color="primary" [routerLink]="['/tabs/tab2']" style="margin: 1%;">Screen 1</ion-button>
    <ion-button color="primary" [routerLink]="['/tabs/tab3']" style="margin: 1%;">Screen 2</ion-button>
    <ion-button color="primary" [routerLink]="['/tabs/tab4']" style="margin: 1%;">Screen 3</ion-button>
  </div>
</ion-content>