<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      sfdgg Text
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
      <div id="block1">
        <div id="block11">
          <ion-label position="floating" style="font-size: 200%;">
            Input Text
          </ion-label>
          <hr style="border-top:3px solid white;">
          <ion-textarea clearOnEdit="true" [(ngModel)]="inputText" placeholder="Enter text here...">
          </ion-textarea>
          <ion-button color="primary" (click)="onBtnSubmit()">Send</ion-button>
        </div>
      </div>

      <div id="block1" style="padding: 20px;"></div>

      <div id="block2">
        <div id="block22">
          <ion-label position="floating" style="font-size: 200%;">
            Output Text
          </ion-label>
          <hr style="border-top:3px solid white;">
          <ion-label>
            Output Text: {{ outputText || 'Waiting for text'}}
          </ion-label>
        </div>
      </div>
  </div>
</ion-content>